/* styles.css */

.header {
    -fx-background-color: #463F3A;
    -fx-padding: 20;
    -fx-font-family: 'Georgia', serif;
}

.header-title {
    -fx-text-fill: #F9FBB2;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: 'Georgia', serif;
    -fx-alignment: center; /* Ensure the title is centered */
}

.sidebar {
    -fx-background-color: #709775;
    -fx-padding: 10;
    -fx-font-family: 'Georgia', serif;
}

.sidebar-button {
    -fx-background-color: #709775;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-margin: 5 0;
    -fx-font-family: 'Georgia', serif;
}

.form-grid {
    -fx-background-color: #BCCCE0;
    -fx-padding: 20;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-font-family: 'Georgia', serif;
}

.form-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #463F3A;
    -fx-font-family: 'Georgia', serif;
}

.form-input {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-font-family: 'Georgia', serif;
}

.form-button {
    -fx-background-color: #D68C45;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-font-family: 'Georgia', serif;
}

.invalid-input {
    -fx-border-color: red;
    -fx-border-width: 2;
}